<!-- <div class="content"> -->
    <!-- <div class="content__item"> -->
        <!-- {{[data?.first_name, data?.last_name].join(" ")}} -->
    <!-- </div> -->
<!-- </div> -->
<div id="center-block">

<div id="bottom-block">
    <div class="title">
        <div>Сотрудник</div>
        <div>Должность</div>
        <div>Подразделение</div>
        <div>График</div>
        <div>Эффективность</div>
        <div>Статус</div>
    </div>
    <div class="dynamic-table">
        <div class="em_name">{{data?.first_name}}</div>
        <div class="em_position">{{data?.position}}</div>
        <div class="em_id">{{data?.id}}</div>
        <div class="em_schedule">Индивидуальный</div>
        <div class="em_efficiency">100%</div>
        <div class="em_active">{{data?.is_active}}</div>
    </div>
</div>
</div>