.header{

  width: 100%;
  min-height: 4.81rem;
  border-bottom: 1px solid;
  border-color: #EEEEEE;
  margin-bottom: 3.75rem;

}

.content, .header{
  padding-left: 5.06rem;
  padding-right: 5.06rem;
}

h2{
  font-weight: 500;
  font-size: 1.5rem;
}

.btnAdd{
  width: 13.375rem;
  height: 2.813rem;
  background: #3DC963;
  color: white;
  border-radius: 10px;
  border: none;
}


