@import "normalize";

.g-green-1{
    background-color: #3DC963;
    color: #FFFFFF;
}

.g-gray-1{
  background-color: #57575C;
  color: #FFFFFF;
}

.g-red-1{
  background-color: #C93D3D;
  color: #FFFFFF;
}

*{
  font-family: Inter, sans-serif;
  font-style: normal;
}

